// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~font-awesome/scss/font-awesome';

@import '~bulma/bulma';

@import '~buefy/src/scss/buefy';

//@import '~bootstrap/scss/bootstrap';
